<% if breadcrumbs.present? %>
<ol class="breadcrumbs">
<% breadcrumbs.each do |breadcrumb| %>
  <li class="breadcrumb">
    <%= link_to breadcrumb.name, breadcrumb.url %>
  </li>
<% end %>
</ol>
<% end %>
